---
layout: default
---
<!DOCTYPE html>
<html>
<body>

  
  <div class="row g-5 mb-5">    
  <div class="col-md-6">
     <h5>   <a href="https://sites.google.com/site/immoschott/"> Immo Schott </a> (Chair) </h5> 
     <p style="line-height:0.5em;">Department of economics</p>
     <p style="line-height:0.5em;">Université de Montréal</p>
     <p style="line-height:0.5em;">C.P. 6128 succ. Centre-Ville</p>
     <p style="line-height:0.5em;">Montreal,QC, H3C 3J7, Canada</p>
     <p style="line-height:0.5em;">Phone: (514) 343 6111 # 28495</p>
     <p style="line-height:0.5em;">E-mail: immoschott[at]gmail</p>
     <p style="line-height:0.5em;">E-mail: immo[DOT]schott[at]umontreal.ca</p>
   </div>
    
   <div class="col-md-6">
      <h5>   <a href="https://barkaymak.wordpress.com/"> Barış Kaymak</a> </h5>
      <p style="line-height:0.5em;">Economic Research</p>
      <p style="line-height:0.5em;">Federal Reserve Bank of Cleveland</p>
      <p style="line-height:0.5em;">P.O. Box 6387</p>
      <p style="line-height:0.5em;">Cleveland, OH, 44101-1387</p>
      <p style="line-height:0.5em;">E-mail: barkaymak[at]gmail.com</p>
    </div> 
    
    <div class="col-md-6">
      <h5>   <a href="https://guillaumesublet.github.io/"> Guillaume Sublet</a></h5>
      <p style="line-height:0.5em;">Department of economics</p>
      <p style="line-height:0.5em;">Université de Montréal</p>
      <p style="line-height:0.5em;">3150, Jean-Brillant street</p>
      <p style="line-height:0.5em;">Montreal,QC, H3C 3J7, Canada</p>
      <p style="line-height:0.5em;">Tel: +1 438 405 6142</p>
      <p style="line-height:0.5em;">E-mail: guillaume.sublet@umontreal.ca</p>
    </div>
    
  </div>
</body>
</html>

  
