---
layout: default
---
   <html>
   <body>
      
       <div class="col-md-12">

      <h4 style="color:Teal"> Working papers</h4>
          <p> </p>
          
              <p> <a href="https://udemontreal-my.sharepoint.com/:b:/g/personal/idossou_marius_adom_umontreal_ca/EVGm2mfTzaZBgsFvm8PbDXcB5LOKy9FlXBYlIdqyvPl6tA?e=7av5Tb">  
                 Informality as a stepping stone in developing countries: the role of financial constraints</a> </p>
      
          <p align="justify"> <b>Abstract:</b> The macro-development literature on informality in developing countries overlooked transition from informality to 
             formality. Using the World Bank Enterprise Surveys data, I document that an important proportion of formal firms in Sub-Saharan Africa were informal at 
             start and transitioned to the formal economy later on. Further empirical analysis shows that the proportion of once-informal among formal firms is 
             positively correlated with profit tax, financial constraint and tax administration hurdles. Then I develop a structural dynamic general equilibrium model 
             of heterogeneous firms that accounts for the transition from informality to formality. In the model, firms face financial constraints in the form of 
             collateral requirements. I calibrate the model to Nigeria data and use it to assess how different policies can affect not only informality rate, but also 
             transition from informality to formality. The results show that transition from informality to formality is more responsive to policies than overall 
             informality. On the other hand, reducing profit tax from 30% to 15% can reduce informality rate by 39 percentage points and the GDP share of informal 
             firms by 62 percentage points. My results do not corroborate the existence of a tradeoff between informality and aggregate production as previously 
             argued in the literature. Rather, policies that reduce the cost of formality, release financial constraints or increase entrepreneurs productivity can 
             induce formalization of informal firms, decrease informality rate and increase GDP and government tax revenue.</p>

          
          <p> <a href="https://www.dropbox.com/s/wosfr02blbo6ofh/2023_05_22.pdf?dl=0"> 
             Input delays, firm dynamics and misallocation in Sub-Saharan Africa </a> (with <a href="https://sites.google.com/site/immoschott/"> Immo Schott</a>) 
             <h4 style="color:White">[New version - May 2023]</h4> </p>
      
          <p align="justify"> <b>Abstract:</b> We quantitatively analyze the macroeconomic consequences of border delays in Sub-Saharan Africa. Delays of imported 
             intermediate inputs lower aggregate output because of factor misallocation and due to an inefficiently low number of firms that uses foreign inputs 
             in production. Our model economy features heterogeneous firms that endogenously differ in the degree to which foreign inputs are used. The model is 
             calibrated to micro-level data from Sub-Saharan Africa. Reducing border delays can increase aggregate output by up to 9.4%. The gains are mainly 
             due to a reallocation of economic activity towards more productive firms.</p>
          
          
          
          <p> <a href="https://udemontreal-my.sharepoint.com/:b:/g/personal/idossou_marius_adom_umontreal_ca/ESVyvwEdUNVBu2JZ826FKeIBwrXp7w9orGWkxDAsFwb-rw?e=aFtruL"> 
             Time Delays at the Borders: Macroeconomic Consequences for Sub-Saharan African Economies </a> </p>
      
          <p align="justify"> <b>Abstract:</b> Time delays to clear imported inputs are longer in Sub-Saharan African countries than in advanced economies. In some 
             countries, the average clearance delay exceeds a month while it is about five days or less in Germany, Greece, Ireland or Thailand. This paper argues 
             that these delays generate input disruptions in Sub-Saharan Africa and quantifies their effects. To this end I develop a dynamic general equilibrium model
             where firms' foreign inputs are subject to random time delays. After calibrating the model to the data, I simulate a scenario where the average border 
             delay is reduced to one week or less. I found that firms place higher foreign input orders in the baseline model to self-insure against <i> ex-ante risk </i>
             of input disruptions. However, aggregate foreign input is lower in steady state due to <i> ex-post realizations </i> of the delays. In the counterfactual, eliminating
             the delays induces aggregate output to increase by up to 10% and employment by up to 5.8%. These gains are driven mainly by a substantial increase of 
             foreign inputs use.</p>          
          
          <h4 style="color:White">Works in progress</h4>
          <p> </p>
          
          <h4 style="color:Teal">Work in progress</h4>   
          <!-- <p style="color:White"> Works in progress</p> -->
          <p>  </p>
                    

          <p> </p>
           <p> <a href="https://udemontreal-my.sharepoint.com/:b:/g/personal/idossou_marius_adom_umontreal_ca/EfB_xd08pDxHns6qrBepn_4BS3lOPxB97y0jKX-H1sojNg?e=SS1MA9"> Roadblocks, Time Delays and Bribery on Interstate Roads: the Effects on Regional Trade Integration in West Africa </a>, with 
              <a href="https://lucienchaffa.github.io/"> Lucien Chaffa </a> </p> 

             <p align="justify"> <b>Abstract:</b> It is a well-known fact that regional trade within Africa is low compared to other regions in the world. 
                In this paper, we rely on the Improved Road-Transport Governance reports to construct a novel data set that measures trade-related roadblocks, 
                time delays, and bribes on eight interstate roads in Western Africa between 2006 and 2013 to investigate their effects on bilateral trade in the 
                region. These interstate roads connect three landlocked countries -- Burkina Faso, Niger, and Mali -- to other coastal countries. We document that
                roadblocks, delays and bribes are pervasive on the roads. During goods transportation trucks experience up to more than 25 controls, are delayed 
                by up to more than 5 hours, and pay between 45 and 115 US dollars bribe. Our empirical analyses show that the delays seriously impede bilateral 
                trade between the connected countries while corruption tends to match the ``grease the wheels'' theory.</p>          
      
          
          <h4 style="color:White">Works in progress</h4>
          <p> </p>
          
          <h4 style="color:Teal"> Publications before Ph.D </h4>   
          <!-- <p style="color:White"> Works in progress</p> -->
          <p>  </p>
       
              <p> </p>
          
            <p> <a href="http://aielf.org/wp-content/uploads/2016/03/RIELF-2019-42.pdf"> 
             Economic integration and synchronization of growth cycles in the WAEMU zone: a dynamic panel approach </a> (with Cheikh Tidiane Ndiaye  and Papa Daouda 
               Amad Diene). Revue internationale des economistes de langue française, Vol. 4, N°2, 2019. </p>
      
          <p align="justify"> <b>Abstract:</b> The purpose of this article is to find out how the degree of synchronization of real growth cycles in WAEMU is changing 
             and to what extent does economic integration impact this synchronization. To answer these questions we introduced a new measurement approach and a dynamic
             panel type modeling estimated by the two-step conditional generalized moments method proposed by Arellano and Bond (1991) ; Bover and Blundell (1998). Our
             empirical analyzes have shown that the interrelationships between the UEMOA economies in terms of trade are very limited. Nevertheless, the bilateral 
             synchronization of cycles, although weak, evolves since 2006. According to our empirical investigations, in sum, we can say that the results obtained 
             suggest that the key determinants of the synchronization of the economic growth cycles in the UEMOA are the synchronization of the previous period, 
             differences in production patterns, differences in inflation, and common external shocks.</p>
        
            <p> </p>
          
             <p> <a href="https://www.casestudiesjournal.com/Volume%206%20Issue%2010%20Paper%202.pdf"> 
             The Impacts of Migrants' Transfers of Funds on Economic Growth and Living  Standards in the WAEMU Zone </a> (With Rémy HOUNSOU and Varelle Priskine 
                FETUE DJEPE). Case Studies Journal ISSN (2305-509X) – Volume 6, Issue 10 Oct-2017.</p>
      
          <p align="justify"> <b>Abstract:</b> This study examines the impacts of migrants’ transfers on economic growth and social welfare in the WAEMU zone. 
             A model of simultaneous equations in panel data is developed to compensate for the endogeneity and simultaneity of the variables, and whose estimation 
             is performed by the two-stage least squares techniques using instrumental variables. In addition, a composite social welfare indicator was constructed on 
             which the impacts of migrants’ transfers of funds were assessed. The results indicate that financial development is the main channel for indirect 
             transmission of the effects of migrant transfers on economic growth. However, we did not detect a direct effect in one direction or the other between 
             growth and transfers. Nonetheless, they have positive and very significant impacts on the welfare of the population. Also, the democratic variables 
             introduced into the models impact positively economic growth and the standard of living in the WAEMU zone. </p>

          <p> </p>
          
          <p> <a href="https://zenodo.org/record/3472270#.YcED-mDMJPY"> 
             Analysis of the Impacts of Exchange Rate Variations on the Benin Economy: The Case of the FCFA and the Naira </a> (with Rémy Hounsou and Ahassane Camara). 
             International Journal of Management Sciences and Business Research, July-2017 ISSN (2226-8235) Vol-6, Issue 7. </p>
      
          <p align="justify"> <b>Abstract:</b> Benin shares with Nigeria, about 773 kilometers of land border. The two countries are linked by very long sociocultural 
             and historical relationships. Beyond these affinities, their geographical proximity allows them to trade based on their economic disparities. Consequently,
             Nigeria's economic shocks have repercussions on Benin, in this case those of its currency. In particular, the decision of the Central Bank of Nigeria in 
             June 2016 to let the exchange rate of the currency fluctuate freely has seriously affected the Beninese economy. This study assesses the impacts of a 
             variation in the exchange rate between the CFA and the Naira on Benin using a computable general equilibrium (CGE) model. Thus, we were able to prospect 
             the probable impacts of a common currency (ie a unit exchange rate) for Benin and Nigeria. Our results showed that the known decline in naira prices in 
             June 2016 compared to 2010 had a negative and severe effect on government revenues, which declined by 19.6% for export taxes and 14.4% for internal market
             taxes (including imports). Similarly, the decline resulted in a sharp decline in inflation of 14% and nominal GDP of 12.4%, while real GDP rose by 2.2%. 
             Consumption fell by 12.3% at 13.8% for rural households as against 10.9% for urban households. Thus, the depreciation of the Naira is proving to be a 
             source of deepening inequality in Benin. This decline in Naira prices also affects employment and drives the economy towards trade and services to the 
             detriment of productive sectors such as agriculture and industry. It penalizes unskilled workers while skilled workers take refuge in the administration. 
             We conclude that overall, Benin is favored by a strong Naira rather than a weak Naira. In particular, a common currency scenario is not favorable for 
             Benin.</p>
          
          
          
          
    <!-- <h5><a href= "/assets/FiscalRules_Chaffa.pdf">Quantitative Exploration of Fiscal Rules for WAEMU Countries</a> (JMP), 2022,  <a href= "/assets/FiscalRules_Slides_Chaffa.pdf"> Slides</a>  </h5>-->
          <!-- <h5>Quantitative Exploration of Fiscal Rules for WAEMU Countries (JMP), 2022  </h5> -->
       <!-- <p align="justify"> West African Economic and Monetary Union (WAEMU) countries are capital market integrated and design jointly their fiscal and monetary policies. 
          This paper offers a quantitative analysis of the fiscal rule in this economic and monetary union and characterizes an optimal reforms. The theoretical framework used is a model 
          of fiscal policy where present-biased governments face shocks to their fiscal needs. The structure of the model implies a trade-off between flexibility for the government to
          react to shocks and commitment to limit its incentives to overborrow. I documented a significant heterogeneity in government revenue, spending, and debt across WAEMU countries. 
          I found that the current uniform 3% deficit rule improves the citizens' welfare of all WAEMU countries compared to full discretion. However, country-specific fiscal rules
          would be Pareto improving reform over the current uniform rule either when the governments individually design their rules or when a central authority jointly designs
          the rules for the governments. Each country's optimal deficit limit level is influenced by the volatility of the shocks on it government revenues and
          the level of the present-bias  of the government.</p> -->
          
    <!-- <h5><a href="/assets/IBCA_Chaffa.pdf" > International Business Cycle Accounting</a>, 2022, <a href= "/assets/IBCA_Slides_Chaffa.pdf"> Slides</a>  </h5>-->
     <!-- <h5> International Business Cycle Accounting, 2022  </h5> -->
    
         <!-- <p align="justify"> We develop a method that can give insights to researchers to better specify their quantitative models in international business cycles studies. The
     guidance comes from the application of accounting procedure that is base on prototype model of international growth model including wedges that captures all the 
     eventual frictions and distortions of markets. For each country, we include -efficiency wedge, labor wedge, investment wedge, government wedge, preference wedge
     and foreign asset wedge. We then demonstrate the method by applying to US and Canada during the Great recession (2007-2008). We found that the economic downturns 
     in both countries during this period is primary due to US investment wedge, US labor wedge, US efficiency wedge and secondary is due to Canada investment wedge. 
     Those results suggest that the crisis has started in US and has propagated to Canada.  </p>  -->
  
        
   </div>
     </body>
   </html>
 
