---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 style="color:Teal;"">Teacher, <a href="https://sceco.umontreal.ca/english/home/">Université de Montréal</a></h5>
    <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-1000/">Economics Principles</a> (undergraduate): Summer 2020, Summer 2023. </p>
     <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-1000/">Introduction to Economics</a> (undergraduate): Winter 2020, Fall 2021.</p>
   </div>
  <div class="col-md-12">
  <h5 style="color:Teal">Teaching Assistant,  <a href="https://sceco.umontreal.ca/english/home/">Université de Montréal</a></h5>
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-2050/">Macroeconomic theory</a> (undergraduate): Winter 2022. </p> 
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-3950/">Workshop in applied economics and Stata</a> (undergraduate): Fall 2021.</p>
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-2055/">Macroeconomic theory</a> (intermediate level): Winter 2021.</p>                                                                                        
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-1000/">Economics principles</a> (undergraduate): Fall 2022, Summer2021, Fall 2020, Winter 2020, Fall 2019.</p>
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-1040/">Introduction to microeconomics</a> (undergraduate): Winter 2019.</p>
  <p> <a href="https://admission.umontreal.ca/cours-et-horaires/cours/ecn-3750/">Economic growth and inequality</a> (undergraduate): Fall 2018.</p>                                                                              
  </div>
   <div class="col-md-12">
  <!--<h5 style="color:Teal">Teaching Assistant,  <a href="https://africanschoolofeconomics.com/"> African School of Economics </a> </h5>
  <p> Macroeconomics (Msc), Winter 2016,  </p>-->
  </div> 
</div>
  
  


